body{
  background-color: darkgrey;
  overflow:auto;
}

button{
  border: none !important;
}
.note-item{
  background-color: #cfc;
}
.toast{
  z-index:5;
}
.select{
  width:45%;
}
.closeMark{
  cursor: pointer;
}
/* [class*="form-control"]:focus ~ [class*="alert"]{
 display:none !important
} */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
